<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main>
    <h1>All links</h1>
    <div class="show_links">
        <ul>
            <li th:each="link : ${links}">
                <p>Link: <a th:href="${link.longLink}" th:text="'/' + ${link.shortLink}"></a></p>
                <form method="post" th:action="'/' + ${link.id} + '/delete'">
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="add_links">
        <h1>Adding new link</h1>
        <form method="post" th:action="@{/}">
            <input type="url" name="longLink" placeholder="Enter full link">
            <input type="text" name="shortLink" placeholder="Enter short title link">
            <button type="submit">Add new</button>
            <div class="console" th:text="'Console: ' + ${message}" style="color: red"></div>
        </form>
    </div>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>